<div class="col-lg-4 col-sm-6 col-xs-12 text-center">
  <h2>{{name}}</h2>
  <h4>{{type}} - #{{number}}</h4>
  <p>{{profile}}</p>
  <img src="{{image}}" class="img-rounded img-responsive" alt="poke-image" width="200px" />
</div>
